target/
.project
.classpath
.settings
velocity.log
*/src/main/webapp/*.js
*/src/main/webapp/app.min.css
*/src/main/webapp/index.html
*/src/main/webapp/geoladris
*/src/main/webapp/WEB-INF/default_config/plugins
yarn-error.log
node
node_modules
.requirejs-build.js
